.channel {
  width: 100%;
  max-width: 1400px;
  height: 718px;
  padding-left: 10px;
  padding-right: 70px;
  overflow-y: auto;
}

.channel__bg-img {
  margin-bottom: 30px;
  // margin-left: 10px;
  //   margin-right: 100px;
}
